
.parent-grid-system{
  @media(min-width: 640px){
    height: 100vh;
  }
}



.header{
  background-color: #eee;
  background: linear-gradient(141deg, #e5e5e5, #eee);
  box-shadow: 0 8px 6px -6px #ccc;
  z-index: 999;
  @media(min-width: 640px){
    height: 5.5rem;
  }
  @media(min-width: 1224px){
    height: 8.3rem;
  }
  .header_grid-x{
    height: 100%;
    padding-top: 1.8rem;
    padding-bottom: 1.2rem;
    justify-content: flex-end;
    align-content: flex-end;
  }
  .title_cell{
    align-items: flex-end;
    display: flex;
  }
  .title_div{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  h1{
    margin: 0;
    // background-color: #57677f;
    // old theme
    background-color: #3f6d96;
    color: #e9e9e9;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Share', cursive;
    align-self: flex-end;
  }

  .logo_cell{
    justify-content: flex-start;
    display: flex;
    padding-left: 2.1rem;
  }
  .logo_div{
    height: 100%;
    align-self: flex-end;
  }

  img{
    height: 100%;
    object-fit: contain;
  }
}

.navbar{
  align-self: flex-end;
  .navbar-center{
    justify-content: center;
    display: flex;
  }
  ul{
    // border-top: 2px #9aa2af solid;
    margin: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  li{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.03rem;
    background-color: #9aa2af;
    color: #e9e9e9;
    margin: 0.1rem;
    padding: 0 0.8rem;
  }
}

.sidebar{
  background-color: #f9f9f9;
  background: linear-gradient(180deg, #f5f5f5 50%, #e5e5e5 150%);
  padding: 1rem 1rem 1.5rem 2.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: auto;
  .grid-y{
    p{
      font-family: 'Barlow Semi Condensed', sans-serif;
      font-size: 1.1rem;
      margin: 0;
    }
    .description{
      p{
        color: #555;
        word-spacing: -2px;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.8rem;
      }
      margin: 0;
    }
    .tags{
      margin-top: 0.5rem;
      p{
        color: #888;
        font-style: italic;
        font-weight: 300;
        line-height: 1.5rem;
      }
    }
    hr{
      width: 100%;
      border-bottom: 1px solid #999;
    }
    .associate{
      margin: 0;
      margin-top: 0.5rem;
      margin-bottom: 0.8rem;
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;
      img{
        margin: 0.5rem;
        height: 1.3rem;
        filter: grayscale(30%);
      }
    }
    .void{
      margin: 0;
      @media(min-width: 640px){
        flex-basis: 20rem;
      }
    }
    .info{
      border: 1px #999 solid;
      border-left: 5px #3f6d96 solid;
      background-color: #f9f9f9;
      margin-top: auto;
      margin: 1rem 0;
      ul{
        word-spacing: 2px;
        text-align: justify;
        line-height: 1.2rem;
        color: #555;
        font-weight: 300;
        padding: 0.5rem;
        padding-left: 1rem;
        list-style: none;
        margin: 0;
      }
    }
    .map_div{
      position: relative;
      padding-top: 58%;
    }
    #map {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 1px #999 solid;
    }
  }
}

.sections-and-sidebar-main_cell{
  background-color: #fcfcfc;
}

.sections-and-sidebar-main_grid-x{
  height: 100%;

  .sections-content_grid-container{
    padding-top: 2.5rem;
    padding-right: 3.2rem;
    padding-bottom: 1.5rem;
    overflow-y: auto;
    // if display is to small a scrollbar apears
    height: 100%;
  }


  .sections-content_cell{
    @media(min-width: 640px){
      width: 66.66667%;
    }
    @media(min-width: 640px) and (max-width: 1024px){
      width: 75%;
    }
    @media(min-width: 1024px) and (max-width: 1224px) and (min-height: 830px){
      width: 83.33333%;
    }
    @media(min-width: 1224px) and (max-width: 1624px) and (min-height: 830px){
      width: 70%;
    }
  }
}



.sections-content_grid-y{
  justify-content: space-between;
  @media(min-width: 640px){
    height: 100%;
  }
  @media(min-width: 640px) and (max-width: 1324px) and (min-height: 600px){
    justify-content: flex-start;
  }

  .grid-margin-x > .cell {
    width: calc(100% - 1rem);
    margin: 0.5rem;
  }

  img{
    display: block;
    // ersetzen durch gimp
    opacity: 0.83;
    // filter: grayscale(15%);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
  }

  figcaption{
    display: flex;
    flex-direction: column;
    transition: all 0.35s;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    background-color: #9aa2af;
    background-color: #9aa2afbb;
    // old theme
    // background-color: #3f6d96;
    // background-color: #3f6d96cc;
    height: calc(100% + 30px);
    left: 0;
    right: 0;
    bottom: -100%;
  }

  h5{
    color: #e9e9e9;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 1px;
  }

  p{
    align-self: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin: 0;
    color: #444;
    font-size: 1.05rem;
  }

  .figure-textbox{
    padding: 0.7rem 01rem;
    overflow-y: auto;
    background-color: #f9f9f955;
    border-top: 3px #e9e9e9 solid;
    border-bottom: 3px #e9e9e9 solid;
    display: flex;
    margin-top: 0.7rem;
    height: 100%;
    width: 100%;
  }

  .figure-width{
    width: 100%;
    border: 1px #f9f9f9 solid;
    // margin: 0.5rem;
    position: relative;
    overflow: hidden;
    padding-top: 63%;
    @media(min-width: 640px){
      padding-top: 19.5%;
    }
  }
  .figure-width:hover figcaption{
    bottom: 0;
  }
}
