
.parent-grid-system{
  @media(min-width: 640px){
    height: 100vh;
  }
}



.header{
  background-color: #e9edf0;
  background-color: #ebedf0;
  // background-color: #ebebeb;
  box-shadow: 0 8px 6px -6px #ccc;
  z-index: 999;
  @media(min-width: 640px){
    height: 5.5rem;
  }
  @media(min-width: 1024px){
    height: 8.5rem;
  }
  .header_grid-x{
    height: 100%;
    padding-top: 0.3rem;
    padding-bottom: 0.8rem;
    justify-content: flex-end;
    align-content: flex-end;
  }
  .title_cell{
    align-items: flex-end;
    display: flex;
  }
  .title_div{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .logo_cell{
    justify-content: flex-start;
    display: flex;
  }
  .logo_div{
    height: 100%;
    align-self: flex-end;
  }

  img{
    height: 100%;
    object-fit: contain;
  }
}


.sections-and-sidebar-main_cell{
  background-color: #fcfcfc;
}


.sections-and-sidebar-main_grid-x{
  height: 100%;

  .sections-content_grid-container{
    padding-top: 1.5rem;
    padding-right: 1.8rem;
    padding-bottom: 0.8rem;
    overflow-y: auto;
    // if display is to small a scrollbar apears
    height: 100%;
  }

  .sidebar{
    background-color: #f4f4f4;
    padding: 1.5rem 1rem 1.5rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    @media(min-width: 640px){
      .auto{
        flex-basis: 20rem;
      }
    }
    div{
      margin: 0.8rem 0;
    }
    img{
      margin: 0.5rem 1.2rem 0.5rem 0;
      height: 1.7rem;
    }
    p{
      margin: 0;
    }
    ul{
      border-left: 5px #57677f solid;
      padding-left: 0.8rem;
      list-style: none;
      margin: 0;
    }
    .description{
      font-weight: 600;
    }
    .info{
      margin-top: auto;
    }
    .map_div{
      height: 10rem;
    }
    #map {
      height: 100%;
      width: 100%;
      border: 1px #57677f solid;
    }
  }

  .sections-content_cell{
    @media(min-width: 640px){
      width: 66.66667%;
    }
    @media(min-width: 640px) and (max-width: 1024px){
      width: 75%;
    }
    @media(min-width: 1024px) and (max-width: 1224px) and (min-height: 830px){
      width: 83.33333%;
    }
    @media(min-width: 1224px) and (max-width: 1624px) and (min-height: 830px){
      width: 70%;
    }
  }
}



.sections-content_grid-y{
  justify-content: space-between;
  @media(min-width: 640px){
    height: 100%;
  }
  @media(min-width: 640px) and (max-width: 1324px) and (min-height: 600px){
    justify-content: flex-start;
  }

  .grid-margin-x > .cell {
    width: calc(100% - 1rem);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  img{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
  }

  figcaption{
    transition: all 0.35s;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 2rem;
    position: absolute;
    background-color: #3f6d96;
    background-color: rgba(63, 109, 150, 0.7);
    background-color: #57677f;
    height: 35px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .figure-width{
    width: 100%;
    // margin: 0.5rem;
    position: relative;
    overflow: hidden;
    padding-top: 63%;
    @media(min-width: 640px){
      padding-top: 19.5%;
    }
  }
  .figure-width:hover figcaption{
    height: 100%;
  }
}
